@import url('fonts.googleapis.com_css_family=Poppins_200,300,400,500,600,700,800,900&display=swap.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

#container {
  height: 200px;
  width: 300px;
  position: relative;
}

.columna {
  width: 33%;
  height: 100%;
  float: left;

}

.columna div {
  height: 25%;
  width: 99%;
  margin: 5px;
  background: red;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;

}

header {
  position: absolute;
  background-color: #9967ce;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

header a {
  color: green;
}

header ul {
  position: relative;
  display: flex;


}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: black;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
header ul li a:hover
{
    color: white;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textBox h2 span {
  color: #a0a8f3;
  font-size: 1.2em;
  font-weight: 900;
}

.content .textBox p {
  color: #333;
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #ffc052a9;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;

}

.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}

.content .imgBox img {
  width: 80%;
  height: 80%;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.thumb li img {
  max-width: 160px;
  width: 90%;
  height: 90%;
}

.sci {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.2);
  filter: invert(1);

}

.sci li a img {
  width: 80%;
  height: 80%;
  margin-left: 240%;

}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffc052a9;
  clip-path: circle(650px at right 700px);
}

input,
textarea,select {
  border-radius: 4px;
}

.user-info input,
.user-info textarea,
.user-info select {
  width: 350px;
  padding: 8px;
  margin-bottom: 10px;
}

.password-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 4px 8px;
  background-color: transparent;
  border: none;
  color: #999;
  cursor: pointer;
}

.password-toggle:focus {
  outline: none;
}

input[readonly],
textarea[readonly],
select[readonly] {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.user-info input[readonly],
.user-info textarea[readonly],
.user-info select[readonly],
.user-info input[readonly]:disabled,
.user-info textarea[readonly]:disabled,
.user-info select[readonly]:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.user-info h2::after {
  content: " (No modificable)";
  font-size: 12px;
  color: #999;
}

.password-container {
  display: flex;
  align-items: center;
}

.password-toggle {
  margin-left: 10px;
}

.profile-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #a0a8f3;
  border-radius: 10px;
  padding: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.user-info-form {
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.info-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.info-row label {
  font-weight: bold;
  margin-right: 10px;
  width: 160px;
  text-align: right;
}

.info-row input[type="text"],
.info-row input[type="email"],
.info-row input[type="password"] {
  flex-grow: 1;
  /* Ocupar el espacio restante */
}

.info-row .password-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.info-row .password-container input[type="password"] {
  flex-grow: 1;
}

.info-row .password-toggle {
  position: absolute;
  /* Agrega posición absoluta */
  right: 0;
  /* Alinear el botón a la derecha */
  margin-top: -2px;
  /* Ajusta el margen superior según sea necesario */
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}


.edit-button {
  margin-top: 10px;
  text-align: center;
  display: flex;
  align-items: right;
  justify-content: center;
}

p {
  display: inline-block;
  margin-bottom: 0px;
}

.date-info {
  position: absolute;
  width: 100%;
  bottom: 10;
  left: 0;
  margin-left: 10%;
}