.feeds-page {
    width: 100%;
    height: 100vh;
}

.feeds-nav {
    position: fixed;
    width: 100%;
    height: 6.5rem;
    background-color: #9967ce;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
}

.icons {
    display: flex;
    align-items: center;
}

.icons a {
    text-decoration: none;
    margin-right: 7rem;
    font-size: 1.5rem;
    color: #fff;
}

.icons .active {
    color: #152e49
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
}
#sendpost:hover,#addimage:hover{
    cursor: pointer;
}
#postformat{
    display: flex;
    flex-direction: column;
}
#photo-img{
    width: 150px !important;
}
.search-bar input {
    width: 15rem;
    height: 2.5rem;
    border: 0.1rem solid #d6e2e9;
    border-radius: 3rem;
    background-color: #d6e2e9;
    padding-left: 3rem;
    transition: all 0.3s;
}

.search-bar-input:focus {
    background-color: #fff;
    border-color: #454444;
}

.search-bar i {
    position: absolute;
    font-size: 1.6rem;
    left: 1.2rem;
    color: #9e9a9a;
}

.user {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-img-wrapper {
    width: 4rem;
    height: 4rem;
}

.user-img-wrapper img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 50%;
}

.user-link {
    margin: 0 0.3rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.user i {
    color: #fff;
    font-size: 1.6rem;
}

/* INICIO NAVEGACION FEED */

/* INICIO  HEADER FEED */
.feeds-content {
    display: grid;
    grid-template-columns: minmax(5rem, 1fr) 60rem 30rem minmax(5rem, 1fr);
    grid-template-rows: repeat(2, min-content);
    padding-top: 6.5rem;
}

.feeds-header {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #a0a8f3;
    margin-top: 1.5rem;
    border-radius: 20px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid #eee;
    margin: 2rem 2rem;
    margin-top: -1rem;
    margin-bottom: 1rem;

}

.header-top h4 {
    font-size: 2.2rem;
    text-decoration: none;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-top i {
    font-size: 2rem;
    color: #fff;
}

.header-post {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.1rem solid #eee;
}

.header-img-wrapper {
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
}

.header-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.header-post input {
    width: 35rem;
    height: 3rem;
    border: 0.1rem solid #6de1e9;
    border-radius: 3rem;
    background-color: #d6e1e9;
    padding: 0.4rem 1.5rem;
}

.header-post i {
    font-size: 2.5rem;
    color: #fff;
    margin: 1rem;

}

/* FIN HEADER FEED */

/* INICIO POSTS FEED */
.all-posts {

    display: block;
    grid-template-columns: minmax(5rem, 1fr) 60rem 30rem minmax(5rem, 1fr);
    grid-template-rows: repeat(2, min-content);
    padding-top: 1.5rem;
    /*background-color: #fff;*/
    width: 60%;
    padding-left: 5rem;


}

.post {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #ba9cf6;
    margin-top: 1.5rem;
    border-radius: 20px;
    border-bottom: 0.1rem solid #eee;
    box-shadow: #341957;

}

.user-avatar {
    width: 6rem;
    height: 6rem;
    flex-shrink: 0;
    margin-right: 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.post-user-info {
    align-items: center;
}

.post-user-info i {
    font-size: 1.3rem;
    color: #000000;
}

.post-user-info span {
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.post-user-info h4 {
    font-size: 1.6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.post-text {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.post-img {
    width: 38rem;
    height: 20rem;
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.post-cover {
    display: flex;
}

.post-icons {
    margin-top: 1rem;
}

.post-icons i {
    font-size: 1.5rem;
    margin-right: 6rem;
}

/* FIN POSTS FEED */

/* INICIO FOLLOW */
.follow {
    position: fixed;
    top: 8rem;
    left: 71%;
    background: #a0a8f3;
    width: 40rem;
border-radius: 1rem;
}

.follow-heading {
    padding: 1rem;
    font-size: 1.8rem;
    border-bottom: 0.1rem solid #eee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.follow-user {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 0.1rem solid #eee;
}

.follow-user-img {
    width: 6rem;
    height: 6rem;
    margin-right: 2rem;
}

.follow-user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.follow-user-info h4,
.follow-user-info p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.follow-btn {
    margin-left: 1.5rem;
    width: 5rem;
    background-color: #fff;
    color: #9967ce;
    padding: 0.7rem 0.5rem;
    border: 0.1rem solid #9967ce;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.follow-link {
    margin: 2rem 1rem;

}

.follow-link a {
    text-decoration: none;
    color: #9967ce;
    font-size: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.follow-footers {
    background-color: #a0a8f352;
    align-items: center;
}

.follow-footers ul {
    list-style: none;
    display: flex;
    padding: 2rem 0;
}

.follow-footers a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    margin: 2.2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* FIN FOLLOW  */

/* INICIO FOOTER */
.pie-pagina{
    width: 100%;
    background-color: #9967ce;
    margin-top: 2rem;
}
.pie-pagina .grupo1{
   width: 100%;
   max-width: 1200px; 
   margin: auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 50px;
   padding: 45px 0px;

}
.pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}
.pie-pagina .grupo1 .box figure img{
    width: 550px;
}
.pie-pagina .grupo1 .box h2{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pie-pagina .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.pie-pagina .grupo1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    margin-right: 10px;
    background-color: #c5a1e7;
    text-align: center;
    transition: all 300ms ease;
    font-size: 3rem;

}
.pie-pagina .grupo2{
    background-color: #c5a1e7;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* FIN FOOTER*/

/* FIN NAVEGACION FEED */